<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<module name="TreeWalker">
		<property name="tabWidth" value="4" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />
		<module name="AvoidStarImport" />
		<module name="IllegalImport" />
		<module name="RedundantImport" />
		<module name="UnusedImports" />
		<module name="LineLength">
			<property name="max" value="120" />
			<property name="ignorePattern" value="^(import|@)*" />
		</module>
		<module name="AnonInnerLength">
			<property name="max" value="40" />
		</module>
		<module name="MethodLength" />
		<module name="ParameterNumber" />
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter" />
		<module name="NoWhitespaceBefore" />
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />
		<module name="AvoidNestedBlocks">
			<property name="allowInSwitchCase" value="true" />
		</module>
		<module name="EmptyBlock" />
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<module name="HiddenField">
			<property name="ignoreConstructorParameter" value="true" />
			<property name="ignoreSetter" value="true" />
		</module>
		<module name="IllegalInstantiation" />
		<module name="InnerAssignment" />
		<module name="MagicNumber" />
		<module name="MissingSwitchDefault" />
		<module name="RedundantThrows" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<module name="VisibilityModifier">
			<property name="protectedAllowed" value="true" />
			<property name="packageAllowed" value="true" />
		</module>
		<module name="ArrayTypeStyle" />
		<module name="TodoComment">
			<property name="format" value="TODO" />
			<property name="severity" value="info" />
		</module>
		<module name="UpperEll" />
		<module name="JavadocType" />
		<module name="JavadocStyle" />
		<module name="JavadocMethod">
			<property name="scope" value="protected" />
			<property name="allowUndeclaredRTE" value="true" />
			<property name="logLoadErrors" value="true" />
			<property name="suppressLoadErrors" value="true" />
			<property name="allowMissingPropertyJavadoc" value="true" />
			<property name="tokens" value="METHOD_DEF" />
		</module>
		<module name="JavadocVariable">
			<property name="excludeScope" value="package" />
			<property name="scope" value="protected" />
		</module>
	</module>
	<module name="FileLength" />
	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="lf" />
	</module>
	<module name="Translation" />
</module>
